body,
button,
input,
select,
textarea,
p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 微软雅黑;
}
/*防止scroll导致左移*/
html {
    overflow-y: scroll;
}

/*防止模态框导致左移*/
body{
padding-right: 0!important;}

/* 去圆角 */

.no-radius {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


/* navbar 导航栏 */

.navbar-default {
    background-color: #036EB8;
}

.navbar-default .navbar-nav > li {
    text-align: center;
    width: 100px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #036EB8;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #8ec2f5;
}

.navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: #8ec2f5;
}

.dropdown-menu {
    min-width: 100px;
    padding: 0px;
}

.dropdown-menu > li > a {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding: 0px;
    background-color: #f6f6f6;
}

.dropdown-menu > li > a:hover {
    background-color: #8ec2f5;
}


/* 左侧面板 */

.panel-primary {
    border-color: #046EB8;
    border: 0;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    border-color: #046EB8;
    background-color: #046EB8;
}

.panel-title {
    font-size: 20px;
}

.list-group > li:hover {
    background-color: #FF9900;
}


/* 右侧面板 */

.btn-primary {
    color: #ffffff;
    border-color: #046EB8;
    background-color: #046EB8;
}


/* footer */

.footer {
    background: #F0F0F0;
    text-align: center;
    height: 70px;
    padding-top: 15px;
}

.item > a {
    color: #8a8a8a;
}


/* alert-dialog*/

.modal-content {
    border-radius: 0px;
}

.bootstrap-dialog .modal-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


/*首页  轮播*/

.carousel-inner img {
    margin: auto;
    width: 100%;
}
#after_login{
    display: none;
}

.navbar-form.navbar-right{
    display: none;
}

/*响应式*/
@media (max-width: 767px){
    .navbar-collapse.collapse{
        display:flex !important;
        flex-direction:row !important;
        flex-wrap: wrap;
        height:auto !important;
        padding-bottom:0px;
        overflow: visible!important;
    }

    .navbar-collapse{
        width:auto;
        border-top:0;
        box-shadow: none;
    }
    .smallCenterOfUl{
        width:100% !important;
        margin:0 auto !important;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .smallCenterOfLi{
        width:50% !important;
        /*margin:0 auto !important;*/
    }
}
/*图片响应式*/
@media (max-width: 480px){
    .smallPic{
        width:100%;
    }
}
/*登录响应式*/
@media(max-width:992px){
    .smallLonIn{
        height:296px;
    }
}
@media(min-width:992px) {
    .bigLonIn {
        height: 215px;
    }
}